@{
    ViewBag.Title = "Streszczenie mojego żywota";
}
<div class="jumbotron" style="text-align:center">
    <strong><h2>Przekierowanie do odpowiednich kategorii</h2></strong>
    <ul>
        <li><a href="#w"><h3>Urodziłem się</h3></a></li>
        <li><a href="#d"><h3>Wiek przedszkolny</h3></a></li>
        <li><a href="#p"><h3>Szkoła podstawowa - klasa 1-3</h3></a></li>
        <li><a href="#s"><h3>Szkoła podstawowa - klasa 4-6</h3></a></li>
        <li><a href="#i"><h3>Gimnazjum</h3></a></li>
    </ul>
</div>

<div style="text-align:center">
    <h1>@ViewBag.Title.</h1>

    <a href="w"><h3>Urodziłem się</h3></a>
    <h4>Urodziłem się w Opolu 17 maja 2001r. Jedyny syn moich rodziców.</h4>

    <a href="d"><h3>Wiek przedszkolny</h3></a>
    <h4>
        W wieku przeszkolnym uczęszczałem do żłobka oraz do przedszkola w Ozimku.
        Mie lubiłem tego miejsca. Było to spowodowane faktem, że zawsze przychodziłem pierwszy, a  wychodziłem ostatni, tj od 7 rano do 16.
    </h4>

    <a href="p"><h3>Szkoła podstawowa - klasa 1-3</h3></a>
    <h4>
        Tu można duuużo pisać.<br>
        Na początku wydawało mi się spoko. w nauce byłem raczej prymusem, lecz według niektórych osób byłem dosyć specyficzny.
        Ale to zostawmy skupmy się na pozytywnych rzeczach, a dokładnie na etapie, który zacząłem i trwa do dziś. <br>
        <strong>Liturgiczna Służba Ołtarza</strong>
    </h4>

    <a href="s"><h3>Szkoła podstawowa -  klasa 4-6</h3></a>
        Mogę głośno powiedzieć, że najgorsze lata mojego życia. <br>
                                                                <a href="</a>">
                                                                    <h3>Gimnazjum</h3>
                                                                    <h4>
                                                                        <strong>Zacznijmy od przeprowadzki </strong><br>
                                                                        Z <a href="https://pl.wikipedia.org/wiki/Ozimek">Ozimka</a> przeprowadziliśmy się do wsi pod<a href="https://pl.wikipedia.org/wiki/Dobrodzie%C5%84"> Dobrodzieniem</a> o nazwie Myślina. <br>
                                                                        W skrócie miasto słynące ze stolarzy. Przeprowadzka w  jakimś stopniu była dla mnie szokiem. Lubiłem tamten domek. Na szczęście szybko polubiłem nowy i poznałem super kolegów, z którymi mogłem grać całym dniami w piłkę.
                                                                        <br> <strong>Teraz coś o szkole</strong>
                                                                    </h4>
</div>