@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Parkingowa 1E<br />
    Myślina, 46-380<br />
    Telefon  601590717
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:splawinskikamil@gmail.com">Wyślij mi maila</a><br />
    <strong>GitHub:</strong>   <a href="https://github.com/pansplawik">Moje projekty</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/kamil-sp%C5%82awi%C5%84ski-ab29731b7/">Moje konto na LinkedIn</a>
    <br> <strong>Facebook:</strong>   <a href="https://www.facebook.com/kamilsplawinski/">A to jakieś  moje social media</a><br />
</address>