@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Kamil Spławiński - strona  osobista</h2>
    <span style="font-size:large">Witam na mojej osobistej stronie. Jest to strona z moim życiorysem czy jakoś tak.<br>W sumie zrobiłęm ją, aby poćwiczyć tworzenie apliakcji webowych.Inne projekty bedą na moim gicie, na który możecie zobaczyć inne moje wypociny <br> </span>
    <p><a href="https://github.com/pansplawik" class="btn btn-primary btn-lg">Kliknij tutaj! &raquo;</a></p>
</div>

<div class="jumbotron">
    <h3>
        Tutaj moje zdjęcie<br>
        Tutaj będę jakieś pierdoły wrzucać ale nie mam pojęcia co, zapraszam do okien z paska na górze
    </h3>
</div>