@{
    ViewBag.Title = "MyCV";
}


<div class="jumbotron" style="text-align:center">
    <strong><h2>Przekierowanie do odpowiednich kategorii</h2></strong>
    <ul>
        <li><a href="#w"><h3>Wykształcenie</h3></a></li>
        <li><a href="#d"><h3>Doświadczenie</h3></a></li>
        <li><a href="#p"><h3>Projekty</h3></a></li>
        <li><a href="#s"><h3>Szkolenia, kursy, certifikaty</h3></a></li>
        <li><a href="#j"><h3>Języki</h3></a></li>
        <li><a href="#a"><h3>Aktywość dodatkowa</h3></a></li>
    </ul>
</div>

<div class="jumbotron" style="text-align:center">
    <a id="w"> <h2><strong>Wykszatłcenie</strong></h2></a>
    <ol>
        <li>
            <h3>Politechnika Śląska - studia Inżynierskie</h3>
            <h4><strong>Data:</strong> 10.2020 - obecnie</h4>
            <h4><strong>Kierunek:</strong> Inżynieria Biomedyczna</h4>
            <h4><strong>Specjalizacja:</strong> Informatyka i Aparatura Medyczna</h4>
        </li>
    </ol>
</div>

<div class="jumbotron" style="text-align:center">
    <a id="d"> <h2><strong>Doświadczenie</strong></h2></a>
    <ol>
        <li>To by było na tyle</li>
    </ol>
</div>

<div class="jumbotron" style="text-align:center">
    <a id="p"> <h2><strong>Projekty</strong></h2></a>
    <ol>
        <li>
            <h3>Urządzenie do mierzenia częstości oddechu za pomocą czujnika termistorowego</h3>
            <h4><strong>Środowisko:</strong> arduino, C#</h4>
            <h4><strong>Szczegóły:</strong> Stworzenie układu ardoino mierzący temperaturę. Na podstawie temperatury i odpowiedniego algorytmu i programu</h4>
            <h4><strong>Link do projektu na GitHub:</strong> <a href="https://github.com/pansplawik/projektarduino">Kliknij tutaj!</a></h4><br>
        </li>
        <li>
            <h3>Strona internetowa o mnie</h3>
            <h4><strong>Środowisko:</strong> ASP.NET Core, HTML, CSS</h4>
            <h4><strong>Szczegóły:</strong> Strona internetowa, na której jesteś zawiera moją historię, moje CV, formularz,  wykorzystująca szczegóły ASP.NET Core.</h4>
            <h4><strong>Link do projektu na GitHub:</strong> <a href="https://github.com/pansplawik/projektarduino">Kliknij tutaj!</a></h4>
        </li>
    </ol>
</div>

<div class="jumbotron" style="text-align:center">
    <a id="s"> <h2><strong>Szkolenia, kursy, certifikaty</strong></h2></a>
    <ol>
        <li>
            <h3>Matlab Orancle</h3>
            <h4><strong>Data:</strong> 05.2021</h4>
            <h4>
                <strong>Dodatkowe informacje</strong> Podstawowa wiedza z pisania kodu, przetwarznaia danych oraz sygnałów w
                języku MATLAB
            </h4>
        </li>
    </ol>
</div>

<div class="jumbotron" style="text-align:center">
    <a id="j"> <h2><strong>Języki</strong></h2></a>
    <ol>
        <li>
            <h3>Język polski</h3>
            <h4>
                <strong>Poziom</strong> ojczysty
            </h4>
        </li>
        <li>
            <h3>Język angielski</h3>
            <h4>
                <strong>Poziom</strong> B2
            </h4>
        </li>
        <li>
            <h3>Język niemiecki</h3>
            <h4>
                <strong>Poziom</strong> A2
            </h4>
        </li>
    </ol>
</div>

<div class="jumbotron" style="text-align:center">
    <a id="a"> <h2><strong>Aktywności dodatkowe</strong></h2></a>
    <ol>
        <li>
            <h3>Członkostwo w Instytut Inżynierów Elektryków i Elektroników (IEEE)</h3>
            <h4><strong>Data:</strong> 01.2022 - obecnie</h4>
        </li>
    </ol>
</div>
